# ------------------------------------
# Archivos generados por Dart/Flutter
# ------------------------------------
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
/ios/Flutter/.last_build_id

# ------------------------------------
# Archivos de Plataformas
# ------------------------------------
# Android
/android/local.properties
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/build

# iOS/macOS
/ios/.symlinks/
/ios/Pods/
/ios/.generated/
/macos/.generated/

# Otros builds específicos
/linux/build
/web/build
/windows/build

# ------------------------------------
# IDEs y Sistema Operativo
# ------------------------------------
.DS_Store
*.iml
*.iws
*.ipr
.idea/
.vscode/

# Misceláneos
*.log
*.class
*.pyc
*.swp

# Archivos generados de registro de plugins para plataformas
/linux/.generated/
/macos/.generated/
/windows/.generated/

# Archivos de cmake generados para desktop
**/generated_plugins.cmake
**/generated_plugin_registrant.*